/* For use in src/lib/core/theming/_palette.scss */
$custom-accent: (
    50 : #f6eaec,
    100 : #e9cbd0,
    200 : #daa8b1,
    300 : #cb8591,
    400 : #c06b7a,
    500 : #b55162,
    600 : #ae4a5a,
    700 : #a54050,
    800 : #9d3746,
    900 : #8d2734,
    A100 : #ffcfd4,
    A200 : #ff9ca7,
    A400 : #ff697a,
    A700 : #ff4f64,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$resume-accent: mat-palette($custom-accent);