/* For use in src/lib/core/theming/_palette.scss */
$custom-accent: (
    50: #f8e6ef,
    100: #eec2d7,
    200: #e399bd,
    300: #d870a2,
    400: #cf518e,
    500: #c7327a,
    600: #c12d72,
    700: #ba2667,
    800: #b31f5d,
    900: #a6134a,
    A100: #ffd8e5,
    A200: #ffa5c3,
    A400: #ff72a1,
    A700: #ff5890,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
