
.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // width: 100% !important;
}

::ng-deep {
  mat-sidenav {
    width: 100%;
    max-width: 250px;
  }
}

.router-container{
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
}